* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bonbon {
    min-width: 500px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 48px 0px;
}

h3 {
    color: rgb(243, 139, 157);
}

.container-1 p {
    margin: 4px;
}

.container-2 {
   margin-left: auto;
   margin-right: auto;
   padding: 48px 0px;
   text-align: center;
}

h2 {
    color: rgb(243, 139, 157);
}
.container-3 {
    margin-left: auto;
   margin-right: auto;
   padding: 48px 0px;
   text-align: center;
}
