/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/
.tetris-block {
    padding: 20px;
    border-width: 12px;
    border-style: outset;
    display: inline-block;
}
.green {
    background-color:green;
    border-color: rgb(12, 155, 12);
}
.red {
    background-color: red;
    border-color: crimson;
    
}
.purple {
    background-color: purple;
    border-color: rgb(161, 23, 154);
}
.yellow {
    background-color: yellow;
    border-color: rgb(237, 237, 20);
}
.red {
    background-color: red;
    border-color: crimson;
}
.green {
    background-color:green;
    border-color: rgb(12, 155, 12);
}
.wide {
    padding: 20px 53px;
}
.purple {
    background-color: purple;
    border-color: rgb(161, 23, 154);
}
.yellow {
    background-color: yellow;
    border-color: rgb(237, 237, 20);
}
.lemon {
    border-radius: 50% 8px;
}
.red {
    background-color: red;
    border-color: crimson;
    
}
.orange {
    background-color: orange;
    border-color: rgb(235, 158, 13);

}
.yellow {
    background-color: yellow;
    border-color: rgb(237, 237, 20);
}
.red {
    background-color: red;
    border-color: crimson;
}
.purple {
    background-color: purple;
    border-color: rgb(161, 23, 154);
}
.green {
    background-color:green;
    border-color: rgb(12, 155, 12);
}
.yellow {
    background-color: yellow;
    border-color: rgb(237, 237, 20);
}
.orange {
    background-color: orange;
    border-color: rgb(235, 158, 13);

}
.orange {
    background-color: orange;
    border-color: rgb(235, 158, 13);

}
.green {
    background-color:green;
    border-color: rgb(12, 155, 12);
}


