/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/

#license {
    border: 3px solid black; 
    border-radius: 24px;
    width: 700px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(237, 178, 84);
}

#left-side {
    /* border: 3px solid green; */
    display: inline-block;
    width: 66%;
}

#right-side {
    /* border: 3px solid red; */
    display: inline-block;
    width: 33%;
    text-align: center;
}

h4 {
    background-color: darkblue;
    padding: 8px;
    margin: 0px 15px 7px;
    color: white;
    text-align: center;
    font-size: 20px;
}


 h1 {
    color: darkblue;
    font-size: 45px;
    margin:30px 15px 0px;
    font-family: serif;
}

#id-and-expiration {
    color: darkblue;
    margin-left: 15px;
    padding-bottom: 20px;
}

#id-and-expiration div span {
    color: red;
    font-weight: bolder;
}

 #address {
    font-weight: bolder;
    font-size: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}

#id-and-expiration div {
    display:inline-block;
    margin-right: 25px;
}

#data-right span {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
#data-left span {
    color: red;
    font-weight: bolder;
    margin-right: 20px;
}
#data-right  {
    color: darkblue;
    display: inline-block;
}

#data-left  {
    color: darkblue;
    display: inline-block;
}

#small-pic img { 
    height: 75px;
    opacity: 0.6;
    margin-left: 15px;
}
#right-side img {
    height: 210px;
    width: 200px;
    margin-right: 25px;
}
#small-pic {
    display: inline-block;
}

#data-fields {
    display: inline-block;
}

#donor {
    color: red;
    font-weight: bold;
    display: inline-block;
    margin-right: 15px;
}

#real-id {
    color: white;
    display: inline-block;
    background-color: gold;
    border-radius: 30px;
    padding: 3px;
}

#signature {
    font-family: cursive;
    text-align: center;
    padding-bottom: 20px;
}