* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.cards {
    flex: 300px;
    border: 2px solid gray;
    margin: 24px;
    padding: 24px;
    border-radius: 10px;
    text-align: center;
}

.cards a {
    text-decoration: none;
    color: black;
    display: block;
    border: 2px solid gray;
    padding: 12px;
    margin-top: 34px;
}

#card1 a {
    transition: 
        background-color 0.8s,
        box-shadow 0.8s,
        transform 0.8s;
}

#card1:hover a {
    background-color: lightpink;
    box-shadow: 2px 2px 2px gray;
    transform: translateY(-4px);
}

#card2 a {
    transition: 
        background-color 0.8s,
        box-shadow 0.8s,
        transform 0.8s;
}

#card2:hover a {
    background-color: lightpink;
    box-shadow: 2px 2px 2px gray;
    transform: translateY(-4px);
}

#card3 a {
    transition: 
        background-color 0.8s,
        box-shadow 0.8s,
        transform 0.8s;
}

#card3:hover a {
    background-color: lightpink;
    box-shadow: 2px 2px 2px gray;
    transform: translateY(-4px);
}

#card4 a {
    transition: 
        background-color 0.8s,
        box-shadow 0.8s,
        transform 0.8s;
}

#card4:hover a {
    background-color: lightpink;
    box-shadow: 2px 2px 2px gray;
    transform: translateY(-4px);
}

#card5 .card-content {
    transition: 
        opacity 0.8s,
        visibility 0.8s;
}

#card5:hover .card-content {
    opacity: 0;
    visibility: hidden;
}

#card6 .card-content {
    transition: 
        opacity 0.8s,
        visibility 0.8s;
}

#card6:hover .card-content {
    opacity: 0;
    visibility: hidden;
}

#card7 .card-content {
    transition: 
        opacity 0.8s,
        visibility 0.8s;
}

#card7:hover .card-content {
    opacity: 0;
    visibility: hidden;
}

#card8 .card-content {
    transition: 
        opacity 0.8s,
        visibility 0.8s;
}

#card8:hover .card-content {
    opacity: 0;
    visibility: hidden;
}

#card9 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

#card9:hover {
    background-color: rgb(249, 228, 232);
    box-shadow: 4px 4px 4px gray;
    transform: translateY(-4px);
}

#card10 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

#card10:hover {
    background-color: rgb(249, 228, 232);
    box-shadow: 4px 4px 4px gray;
    transform: translateY(-4px);
}

#card11 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

#card11:hover {
    background-color: rgb(249, 228, 232);
    box-shadow: 4px 4px 4px gray;
    transform: translateY(-4px);
}

#card12 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

#card12:hover {
    background-color: rgb(249, 228, 232);
    box-shadow: 4px 4px 4px gray;
    transform: translateY(-4px);
}