#fl {
    font-family: cursive;
    text-align: center;
}

#fl-1 {
    background-color: #B0C25E;
    color: black;
    font-family: serif;
    text-align: center;
    padding: 24px;

    
}

#fl-2 {
    background-color: #ffc99d;
    color: black;
    font-family: serif;
    text-align: center;
    padding: 24px;
}

